name: Pull Request
on: 
    pull_request:
        branches:
            'main'
jobs:
    run-checks:
        name: Run Checks
        runs-on: ubuntu-latest
        steps:
            - name: Check Out Code
              uses: actions/checkout@v2
            - name: Install Dependencies
              run: 'npm ci'
            - name: Run Tests
              run: 'npm test -- --coverage'
           
